*
!build_target.pri
!.gitignore
!/base2
!/object_registry
!/object_registry_test
!/utility
!/cmd_sys
!/cmd_sys_display
!/code_data
!/code_analyzer
!/file_manager_base
!/file_manager
!/file_manager2
!/mccp_com
!/app_common
!/app_common/**
!/crase_viewer
!/md_rag

